<h1 class="centra_texto"><%= @title %></h1>
<form action='/crear_evento' method='post'>
  <p class="centra_texto">Ingrese el titulo del evento:</p>
  <div id="input_titulo">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" name="titulo" maxlength="30" required/></br>
      <button type='submit' class='btn btn-primary'>Siguiente!</button>
    </div>
    
  </div>
  
</form>
<a href="/eventos">Ver eventos</a>
